<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="ChatSnap Private Data Manager"/>
        <meta name="keywords" content="Private Chatbot, LLM, Privacy"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>ChatSnap Private Data Manager</title>
        <link rel="icon" type="image/ico" href="images/favico-16x16.ico"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <style>


            body {
                font-family: 'Roboto', sans-serif;
                background-color: #f5f5f5;
            }
            .container {
                margin: auto;
                padding: 20px;
                width: 50%; /* Set to 50% of the parent container's width */ /* Center the container */
            }
            .card {
                overflow: hidden;
                width: 100%; /* It takes the full width of its parent container, .container */
            }
            .card-content {
                padding: 24px;
            }
            .btn {
                border-radius: 4px;
                margin-top: 10px;
            }
            .start-chatsnap-form {
                position: fixed;
                top: 60px; /* Adjust based on the height of the .start-chatsnap-btn and desired spacing */
                right: 10px;
                z-index: 1000;
            }

            .start-chatsnap-btn {
                position: fixed;
                top: 10px;
                right: 10px;
                z-index: 1001; /* Higher z-index to ensure it's above other elements */
                background-color: #e1ece1; /* Materialize Green */
            }

            .logout-button {
                position: fixed;
                top: 10px; /* Adjust based on the height of the .start-chatsnap-form and desired spacing */
                right: 10px;
                z-index: 1002; /* Highest z-index to ensure it's above other elements */
            }
            .user-info-form {
                position: fixed;
                top: 10px;
                left: 10px;
                width: 250px;
                z-index: 1000;
            }

            .card.transparent {
                background-color: transparent;
                border: none;
                box-shadow: none;
            }

            .card-title {
                color: #333;
                font-size: 18px;
                margin: 0;
                padding: 10px;
            }

            .user-card-content {
                padding: 10px;
            }

            .input-field p {
                color: #333;
                margin: 0;
            }

            #username {
                font-weight: bold;
                color: #130443; /* You can choose a color that fits your design */
            }
        </style>
    </head>
    <body>

        <!-- Static Cards for Header -->
        <!-- Auth Buttons -->

            {% if current_user.is_authenticated %}<a class="btn waves-effect waves-light red darken-2 logout-button" href="{{ url_for('logout') }}"> LOGOUT</a>
        {% else %}
            <a class="btn waves-effect waves-light logout-button" href="{{ url_for('login') }}">
                LOGOUT
                {{ current_user }}
            </a>
        {% endif %}

        

        <!-- User Info Card -->
        <div id="user-info-card" class="user-info-form">
            <div class="card transparent">
                <h4 class="card-title">ChatSnap</h4>
                <div class="user-card-content">
                    <div class="input-field">
                        <p>Welcome,
                            <span id="username">{{ current_user }}.</span>
                        </p>
                        <br>
                        Files you have uploaded:
                        <div class="card-content">
                            <ul>
                                {% if files %}
                                    {% for file in files %}
                                        <li>
                                            <span>{{ file }}</span>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li>No files loaded</li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Private Data Manager</span>
                    <i>Where privacy comes first.</i>
                    <blockquote>
                        <i>Instuctions are at the bottom of this page.</i>
                    </blockquote>
                    <!-- Progress Bar -->
                    <div id="progress-bar-container">
                        <div id="progress-bar"></div>
                        <div id="progress-text">0%</div>
                    </div>

                </div>
            </div>

            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <div class="success-message">{{ message }}</div>
                    {% else %}
                        <div class="error-message">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}

            <!-- Cards (Upload, Learn, Start ChatSnap, Delete, Unlearn) Code Here -->
            <div class="card">
                <h4 class="card-title">Upload</h4>
                <div class="card-content">
                    <form
                        action="/upload" method="post" id="upload-form" enctype="multipart/form-data" onsubmit="return validateFileSize() && startProgress();">
                        <!-- Use Materialize CSS Class -->
                        <div class="input-field">
                            <input type="text" name="upload_key" id="upload_key" required/>
                            <label for="upload_key">Upload Key</label>
                        </div>
                        <div class="form-group">
                            <label for="file">Select a PDF file:</label>
                            <input type="file" name="file" id="file" accept=".pdf" multiple required/>
                        </div>

                        <button type="submit" class="btn waves-effect waves-light">
                            Upload
                        </button>
                    </form>
                </div>
            </div>

            <div class="card">
                <h4 class="card-title">Learn</h4>
                <div class="card-content">
                    <form action="/process" method="post" id="process-form" onsubmit="return confirmProcess() && startProgress();">
                        <div class="input-field">
                            <input type="text" name="process_key" id="process_key" placeholder="Enter your Learn key here" required/>
                            <label htmlfor="process_key">Learn Key:</label>
                        </div>
                        <List component="nav" aria-label="files in directory">
                            {% for file in files %}
                                <ListItem>
                                    <ListItemText primary="{{ file }}"/>
                                </ListItem>
                                <Divider/>
                            {% endfor %}
                        </List>
                        <button type="submit" class="btn waves-effect waves-light">
                            Learn From Uploaded Files
                        </button>
                    </form>
                </div>
            </div>

            <div class="card">
                <h4 class="card-title">Delete</h4>
                <div class="card-content">
                    <form action="/delete_files" method="post" onsubmit="return confirmDelete();">
                        <div class="input-field">
                            <input type="password" name="delete_key" id="delete_key" placeholder="Enter DELETE key here" required/>
                            <label for="delete_key">Delete Key:</label>
                            <span class="toggle-password" onclick="togglePasswordVisibility('delete_key', 'toggle_delete');" id="toggle_delete">Show</span>
                        </div>
                        <ul>
                            {% for file in files %}
                                <li>
                                    <label>
                                        <input type="checkbox" name="filenames[]" value="{{ file }}"/>
                                        <span>{{ file }}</span>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                        <button type="submit" class="btn waves-effect waves-light">
                            Delete Selected
                        </button>
                    </form>
                </div>
            </div>

            <div class="card">
                <h4 class="card-title">Unlearn</h4>
                <div class="card-content">
                    <form action="/delete_directory" method="post" onsubmit="return confirm('Are you sure you want to Unlearn this session? This cannot be undone.');">
                        <div class="input-field">
                            <input type="password" name="delete_directory_key" id="delete_directory_key" placeholder="Enter UNLEARN key here" required/>
                            <label for="delete_directory_key">Unlearn Key:</label>
                            <span class="toggle-password" onclick="togglePasswordVisibility('delete_directory_key', 'toggle_delete_directory');" id="toggle_delete_directory">Show</span>
                        </div>
                        <button type="submit" class="btn waves-effect waves-light">
                            UNLEARN
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Private Data Manager</span>
                    <blockquote>
                        <i>Where privacy comes first.</i>
                    </blockquote>
                    <p>This tool allows you to upload your files to ChatSnap. It's easy:</p>
                    <ul>
                        <li>1. Locate the upload form on this page.</li>
                        <li>2. Select your desired PDF file or files.</li>
                        <li>
                            3. Ensure each file is in PDF format and is below the 16 MB size
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                limit.
                        </li>
                        <li>
                            4. Click the "Upload" button to begin the transfer to our server.
                        </li>
                        <li>
                            5. Click the "Learn" button to let ChatSnap learn from your files
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                before chatting.
                        </li>
                        <li>
                            Afterwards, start your
                            <a href="https://app.chatsnap.me:8000/" target="_blank">chat</a>
                        </li>
                        <li>
                            You can also have ChatSnap Unlearn or just delete a file you don't
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                want included in the learning process.
                        </li>
                    </ul>
                    <p>Thank you for using ChatSnap!</p>
                </div>
            </div>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script>
                // JavaScript functions here

                function startSecret() {
                    const url = 'https://app.chatsnap.me/secret-start'; // Use https if the server supports it

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            // Or whatever content type is needed
                            // ...other headers if needed
                        },
                        // body: JSON.stringify({ key: value }), // If you need to send a request body, uncomment and modify this line
                    }).then(response => response.json()) // assuming server responds with json.then(data => {
                    if (data.success) { // Check the response from the server, 'data.success' is just a placeholder, modify according to actual response
                        window.open('https://app.chatsnap.me:8000', '_blank');
                        window.location.reload();
                    } else {
                        console.error('Failed to start secret.');
                    }
                };

                // Attach this function to some event, like a button click, if needed
                document.getElementById('someButtonId').addEventListener('click', startSecret);


                function validateFileSize() {
                    const files = document.getElementById("file").files;
                    let totalSize = 0;

                    for (let i = 0; i < files.length; i++) {
                        totalSize += files[i].size;
                    }

                    if (totalSize > 16777216) { // 16 MB in bytes
                        document.getElementById("error-message").textContent = "The total size of the files exceeds the 16 MB limit. Please reduce the file size or select fewer files and try again.";
                        return false;
                    } else {
                        document.getElementById("error-message").textContent = "";
                        return true;
                    }
                }
                function confirmDelete() {
                    const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
                    if (checkboxes.length === 0) {
                        alert("Please select at least one file to delete.");
                        return false;
                    }
                    return confirm("Are you sure you want to delete the selected file(s)?");
                }

                function togglePasswordVisibility(inputId, toggleId) {
                    const input = document.getElementById(inputId);
                    const toggle = document.getElementById(toggleId);
                    if (input.type === "password") {
                        input.type = "text";
                        toggle.textContent = "Hide";
                    } else {
                        input.type = "password";
                        toggle.textContent = "Show";
                    }
                }
                function confirmProcess() {
                    return confirm("Are you sure you want to Learn from the selected file(s)? This might take a while and the directory will be learned.");
                }

                function startProgress() {
                    console.log("startProgress triggered");
                    var source = new EventSource("/progress");

                    document.getElementById("progress-bar-container").style.display = "block";

                    source.onmessage = function (event) {
                        var data = JSON.parse(event.data);
                        console.log("Progress: " + data.progress + "%");
                        document.getElementById("progress-bar").style.width = data.progress + "%";
                        document.getElementById("progress-text").textContent = "Operation Progress: " + data.progress + "%";

                        if (data.progress === 100) {
                            source.close();
                            document.getElementById("progress-bar-container").style.display = "none";
                        }
                    };
                }

                document.addEventListener("DOMContentLoaded", function () {
                    M.AutoInit();
                });

            </script>
        </body>
    </body>
</html>
